.feedback{
    @include fluid(padding-top, 30px, 60px);
    @include fluid(padding-bottom, 30px, 60px);
    &__wrapper{
        position: relative;
        padding: 40px;
        background-color: $main;
        overflow: hidden;
        border-radius: 15px;
        img{
            @include fluid(height, 370px, 420px);
            position: absolute;
            right: 5%;
            bottom: 0;
            object-fit: contain;
            height: 420px;
            z-index: 1;
        }
        &::after{
            content: '';
            position: absolute;
            right: 3%;
            bottom: -25%;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background-color: #ededed;
        }
        &::before{
            content: "";
            position: absolute;
            right: 35%;
            top: 15%;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #ededed;
        }
    }
    &__form{
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        width: 50%;
        .btn{
            // padding: 10px 20px;
            margin-top: 30px;
            min-width: 200px;
        }
    }
    &__title{
        @include fluid(font-size, 36px, 40px);
        color: #FFF;
        font-weight: 600;
        margin-bottom: 20px;
        max-width: 600px;
        line-height: 1.1;
    }
    &__label{
        position: absolute;
        color: #FFF;
        font-weight: 400;
        font-size: 18px;
        top: -10px;
        left: 0;
        transition: transform 200ms, color 200ms, font-size .2s ease-in-out;
        &Wrap{
            position: relative;
            &:not(&:first-child){
                margin-top: 60px;
            }
        }
    }
    &__input{
        width: 100%;
        border: none;
        background: none;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        padding-bottom: 10px;
        line-height: 24px;
        letter-spacing: -0.54px;
        border-bottom: 1px solid #FFF;
        border-radius: 0;
        outline: none;
        transition: all .38 ease-in-out;
        &::placeholder {
            color: #FFF;
            transition: all .38 ease-in-out;
        }
        &:focus {
            outline: none;
            border-bottom: 1px solid #FFF;
        }
        &:focus ~ .feedback__label,  /* фокус на input */
        &:not(:placeholder-shown) ~ .feedback__label  /* в input есть значение */  {
            transform: translateY(-30px) scale(0.95);
            font-size: 16px;
        }
        
    }
}

@media (max-width: 992px) {
    .feedback{
        &__wrapper{
            img{
                right: -3%;
                height: 320px;
            }
            &::after{
                right: -4%;
                width: 340px;
                height: 340px;
            }
            &::before{
                top: 28%;
                width: 75px;
                height: 75px;
            }
        }
    }
}

@media (max-width: 768px) {
    .feedback{
        &__wrapper{
            padding: 30px;
            img{
                display: none;
            }
            &::after, &::before{
                content: none;
            }
        }
        &__form{
            width: 100%;
            padding-bottom: 0;
            .btn{
                width: 100%;
            }
        }
        &__title{
            font-size: 30px;
            margin-bottom: 10px;
        }
        &__label{
            font-size: 16px;
        }
        &__input{
            padding-bottom: 0;
            &:focus ~ .feedback__label, &:not(:placeholder-shown) ~ .feedback__label  /* в input есть значение */  {
                font-size: 14px;
            }
        }
    }
}