.whatTreat{
    @include fluid(padding-top, 30px, 60px);
    @include fluid(padding-bottom, 30px, 60px);
    margin-bottom: 0;
    &__title{
        margin-bottom: 30px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
    &__accordeon{
        padding-top: 27px;
        padding-bottom: 27px;
        border-top: 1px solid #eee;
        &:last-child{
            border-bottom: 1px solid #eee;
        }
        &Top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            img{
                object-fit: contain;
                height: 20px;
                rotate: 45deg;
                transition: .38s ease-in-out;
                filter: brightness(0) saturate(100%) invert(18%) sepia(6%) saturate(7%) hue-rotate(320deg) brightness(101%) contrast(84%);
            }
            &-name{
                @include fluid(font-size, 20px, 24px);
                font-weight: 500;
            }
            &-close{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                transition: .38s ease-in-out;
                border-radius: 50%;
                &.rotate{
                    background-color: #eee;
                    img{
                        rotate: 0deg
                    }
                }
            }
        }
        &Hidden{
            display: none;
            margin-top: 30px;
            & > *{
                margin-left: 20px;
            }
            .btn{
                margin-top: 15px;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 5px;
                li{
                    position: relative;
                    padding-left: 20px;
                    &::after{
                        content: '';
                        position: absolute;
                        height: 4px;
                        width: 4px;
                        left: 0;
                        top: 50%;   
                        translate: 0 -50%;
                        border-radius: 50%;
                        background-color: #374151;
                    }
                }
            }
        }
        &:hover{
            .whatTreat__accordeonTop{
                &-close{
                    background-color: #eee;
                }
            }
        }
    }
}